.admin__header{

  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 0;

    &--title{
      font-size: 1.5rem;
    }
    &--user{
      font-size: 1.2rem;
      padding-top: 15px;
      
      &--link{
        color: #000;
      }
    }
  }
}

.admin__nav{
  a{
    color: #fff;
  }
}

.admin__main{

  &__title{
    font-size: 1.5rem;
    padding: 10px;

  }
  &__form{
    text-align: center;

    &--file{
      width: 90%;
    }

    &--title{
      border: solid 1px #000;
      width: 90%;
      padding: 10px;
      margin: 0 auto 20px;
    }

    &--textArea{
      border: solid 1px #000;
      width: 90%;
      padding: 10px;
      margin: 0 auto;
    }

    &--submit{
      display: block;
      margin: 0 auto;
      background: #e4e4e4;
      color: #fff;
      font-size: 1.5rem;
      letter-spacing: 5px;
      padding: 5px 30px;
      margin-top: 50px;
    }
  }
}

// ****タブレット用****
@media screen and (min-width: 768px){

  .admin__main{
    max-width: 960px;
    margin: 0 auto;
  }
}